SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
LOG_LEVEL=INFO
DATABASE_URL=postgres://webmenu:webmenu@127.0.0.1:5432/webmenu
CONN_MAX_AGE=0
