{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<div class="lang-switcher">
  <button class="icon-btn lang-switcher__btn" type="button" id="langBtn">
    <span class="lang-switcher__current">{% if LANGUAGE_CODE == "tk" %}TM{% else %}{{ LANGUAGE_CODE|upper }}{% endif %}</span>
  </button>
  <div class="lang-switcher__dropdown" id="langDropdown">
    {% for code, name in LANGUAGES %}
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="language" value="{{ code }}">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <button type="submit" class="lang-switcher__option {% if code == LANGUAGE_CODE %}lang-switcher__option--active{% endif %}">
          {% if code == "tk" %}TM{% else %}{{ code|upper }}{% endif %}
        </button>
      </form>
    {% endfor %}
  </div>
</div>